.backgroundPane{
    -fx-background-color: #201b33;/*#141425*/
}
.insidePane{
    -fx-background-color: #140f1c;
    -fx-background-radius: 20;
}
.text{
    -fx-text-fill: white;
}
.rightPane{
    -fx-background-color: #23203c;
    -fx-background-radius: 20;
}
.buttonSidebar{
    -fx-background-color: transparent;
}
.buttonSidebar:hover{
    -fx-background-color: #2e2b53;
}
